// 颜色规范
$background= #222;
$background-opt= rgba(0,0,0,0.3);
$background-light= #333333;
$background-dialog= #666666;

// 主题
$theme-color=#2e9598;
$theme-color-opt=rgba(57,174,169,0.5)
$theme-color-sub=#d93f30

// 字体颜色
$color-text=#ffffff
$color-text-s=rgba(255,255,255,.3)
$color-text-m=rgba(255,255,255,.5)
$color-text-l=rgba(255,255,255,.8)

//字体大小
$font-size-xs=10px;
$font-size-s=12px;
$font-size-m=14px;
$font-size-l=16px;
$font-size-xl=18px;
$font-size-xxl=22px;
$font-size-xxxl=30px;
$font-size-xxxxl=40px;

